//My Theme colors
$greenish: #5cbd2f;
$blueish: #5ca2f8;

// scss-docs-start theme-color-variables
$primary:       $greenish;
$secondary:     $blueish;
// scss-docs-end theme-color-variables

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

@import "../node_modules/bootstrap/scss/functions";

$active-col: darken($primary, 10%);

//Navbar var
.nav-link {
  &.active,
  &.show {
    color: $active-col;
  }
}

@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");





